{% extends 'base/index.html' %}
{% load static %}
{% block content %}

{% for i in data %}

<div align="center">
   <!--<img  src={% static "assets/logo.png" %} alt="LOGO" style="width:300px;height:172px;">-->
<div class="row" >
         <div class="col s4 offset-s4 valign">
           <div class="card">
             <br>
               <span class="card-title"><h4>Storage Location:- {{i.location}}</h4></span>
             <!-- </div> -->
             <!-- <div class="card-content"> -->
            <div class="row" >
                     <div class="col s10 offset-s1 valign">
            <table class="bordered">
              <thead >
                <tr>
                    <th>Inventory</th>
                    <th>Count</th>
                </tr>
              </thead>

              <tbody>
                <tr>
            {% for j in i.inventory_set.all %}  
                        <td>{{j.bot_name}}</td>
                        <td>{{j.bot_count}}</td>
             {% endfor %}
             </tr>
             <tr >
                {% for k in i.accessories_set.all %}
                        <td>{{k.accessory}}</td>
                        <td>{{k.count}}</td>
             {% endfor %}

                </tr>
               
                
              </tbody>
             </table></div></div>
             </div>
         </div>
       </div>
       </div><br><br>

{% endfor %}
{% endblock %}
