{% extends 'base/index.html' %}
{% load static %}
{% block content %}


    <center>
        <h2>
            Enter the required details.
        </h2>
    </center>
    <div class="row">
   <div class="col s4 offset-s4 valign">
    <table class="striped" class="centered">
      <thead>
        <tr>
            <th class="z-depth-5" >Inventory</th>
            <th class="z-depth-5" >Count</th>
        </tr>
      </thead>
        
        {% for i in data %}
      <tbody>
        <tr class="z-depth-5" >
            {% if i.bot_name %}
                <td>{{i.bot_name}}</td>
                <td>{{i.bot_count}}</td>
            {% else %}
                <td>{{i.accessory}}</td>
                <td>{{i.count}}</td>
            {% endif %}
        </tr>
       
        
      </tbody>
        {% endfor %}
    </table>
    </div>
    <!-- </div> -->
    </div>

    

    <div class="row">
          <div class="col s6 offset-s3 valign">
            <div class="card-panel grey lighten-4">
              <center>
                <form method = 'post'>
                    {% csrf_token %}
                    <h3>Select the requirement</h3>
                    
                    <div class="input-field col s12">
                      <i class="material-icons prefix">local_library</i>
                      <input type = 'text' name='subject' placeholder='Subject'><br><br>
                    </div>
                    <div class="row">
                           <div class="input-field col s12">
                             <i class="material-icons prefix">mode_edit</i>
                             <textarea id="icon_prefix2" class="materialize-textarea" type = "text" name="application"></textarea>
                             <label for="icon_prefix2">Enter the issue application here.(max 300)</label>
                           </div>
                         </div>
                    <center>
                    <a href="#"><button type="submit" class="btn waves-effect waves-light">Submit</button>
                      </a></center>
                   
                </form>
            </center>

              
            </div>
          </div>
        </div>



{% endblock %}
