{% extends 'base/index.html' %}
{% load static %}
{% block content %}

<center>
    <h2>
        ALL Requests left.
    </h2>
<h3>PENDING REQUESTS</h3>
</center>
<br>
        {% for i in data %}

        {% if not i.passed %}
        <div align="center">
        <div class="row" >
                 <div class="col s4 offset-s4 valign">
                   <div class="card"><br>
                       <span class="card-title"><h5>Subject :- {{i.subject}} </h5></span>
                     <div class="card-content">
                         <div class="card-action">
                           <a class ="modal-trigger" href="#{{i.id}}">Application</a>
                     <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Modal</a> -->
                         </div>
                     <!-- Application:- {{i.application}}<br><br> -->
                     Date request raised:- {{i.issued_on}} <br>
                     Requested by:- {{i.request_by}}<br>
                     </div>
                         <div class="card-action">
                           <form method='post'>
                               {% csrf_token %}
                               
                                <a href="#"><button type="submit" value='{{i.id}}' name='id' class="btn waves-effect waves-light">Approv</button>
                                  </a>
                           </form>
                         </div>
                   </div>
                 </div>
               </div>
               </div>

               <!-- Modal Structure -->
               <div id="{{i.id}}" class="modal modal-fixed-footer">
                 <div class="modal-content">
                   <h4>Application</h4>
                   <p>{{i.application}}</p>
                 </div>
                 <div class="modal-footer">
                   <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">ok</a>
                 </div>
               </div>


        {% endif %}

        {% endfor %}

        <br>
        <br>
        <br>
        <center>
            
        <h3>ISSUE HISTORY</h3>
        </center>
        {% for i in data %}
        <div align="center">
        <div class="row" >
                 <div class="col s4 offset-s4 valign">
                   <div class="card"><br>
                       <span class="card-title"><h5>Subject :- {{i.subject}} </h5></span>
                     <div class="card-content">
                         <div class="card-action">

                           <a class ="modal-trigger" href="#{{i.id}}">Application</a>
                     <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Modal</a> -->
                         </div>
                     <!-- Application:- {{i.application}}<br><br> -->
                     Date_issued:- {{i.issued_on}} <br>
                     Issued_by:- {{i.request_by}}<br>
                     </div>
                         
                   </div>
                 </div>
               </div>
               </div>

               <!-- Modal Structure -->
               <div id="{{i.id}}" class="modal modal-fixed-footer">
                 <div class="modal-content">
                   <h4>Application</h4>
                   <p>{{i.application}}</p>
                 </div>
                 <div class="modal-footer">
                   <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">ok</a>
                 </div>
               </div>

        {% endfor %}

{% endblock %}
