<html>
	<head>
		<title>
			INVENTORY UPDATE
		</title>
	</head>

	<body>
		<center>
			Update Inventory
		</center>
		<br>

		{% if selection0 %}
		Option selected- {{choice}}
		{% else %}
		<h2>Make selection</h2>
		<form method='get'>
			<select name='choice'>
				<option value='old'>Update existing Inventory</option>
				<option value'=new'>Add new items to Inventory</option>
			</select>
			<br><br>
			<button type='submit'> SUBMIT </button>
		</form>
		{% endif %}

		{% if selection0 %}
		<h1>
			Select storage location
		</h1><br><br>
		<form method='get'>
			{% if selection1 %}
			Location selected- {{location}}
			{% else %}
			<select name='location'>
				{% for i in data %}
				<option value='{{i.location}}' name='location'>{{i.location}}</option>
				{% endfor %}
				<option value='another_loc'> Another </option>
			</select>
			<button type='submit' value='{{choice}}' name='choice'> SUBMIT </button>
			{% endif %}
		</form>
		{% endif %}
			{% block content %}
			{% endblock %}
	</body>
</html>