{% extends 'inventory/update.html' %}
{% load static %}
{% block content %}
<br>
	<br>
	{% if selection1 %}
	<h3>Enter the details</h3>
	<form method='post'>
		{% csrf_token %}
		<h4>NOTE- TYPE 0 in fields which are not required</h4>
		<input name='bot_name' placeholder="Enter the bot details"> &nbsp&nbsp&nbsp&nbsp
		<input name='bot_count' placeholder="Enter the bot count"><br>
		<br>
		<select name="successor_bot">
			{% for i in location.inventory_set.all %}
			<option value='{{i.bot_name}}'>{{i.bot_name}}</option>
			{% endfor %}
		</select>
			<input name='accessory' placeholder="Enter name of accessory to be added"> &nbsp&nbsp&nbsp&nbsp
			<input name='count' placeholder="Enter the accessory count"> <br><br>
		<input type="hidden" name='choice' value='{{choice}}'>
		<button type='submit' value='{{location}}' name='location'> SUBMIT </button>
	</form>
	{% endif %}
{% endblock %}
