{% extends 'inventory/update.html' %}
{% load static %}
{% block content %}
<br>
	<br>
	{% if selection1 %}
<h3>After selecting location, update inventory</h3>
<form method='post'>
	{% csrf_token %}
	<h4><p>Name 							Count</p></h4>
	{% for i in location.inventory_set.all %}
	<input value='{{i.bot_name}}' name="bot_name"> &nbsp &nbsp &nbsp
	<input value='{{i.bot_count}}' name="bot_count"><br>
	{% endfor %}
	<h3>Update accessories</h3>
	{% for i in location.accessories_set.all %}
	<input value="{{i.accessory}}" name='accessory'> &nbsp &nbsp &nbsp
	<input value='{{i.count}}' name='count'> <br>
	{% endfor %}
	<input type="hidden" name='choice' value='{{choice}}'>
	<br>
	<br>
	<button type='submit' value='{{location}}' name='location'> SAVE </button>
</form>
{% endif %}
{% endblock %}
