{% extends 'base/index.html' %}
{% load static %}
{% block content %}

    <div class="row">
          <div class="col s6 offset-s3 valign">
            <div class="card-panel grey lighten-4">
              <center>
                <form method = 'post'>
                    {% csrf_token %}
                    <h3>Add Project Details here</h3>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">person</i>
                      <input type = 'text' name='title' placeholder='Title'><br><br>
                    </div>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">format_list_numbered</i>
                      <input type = 'text' name='year' placeholder='Year'><br><br>
                    </div>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">local_library</i>
                      <input type = 'text' name='team_name' placeholder='Team Name'><br><br>
                    </div>
                    <div class="row">
                           <div class="input-field col s12">
                             <i class="material-icons prefix">mode_edit</i>
                             <textarea id="icon_prefix2" class="materialize-textarea" type = "text" name="details"></textarea>
                             <label for="icon_prefix2">Details</label>
                           </div>
                         </div>
                    <center>
                    <a href="#"><button type="submit" class="btn waves-effect waves-light">Submit</button>
                      </a></center>
                   
                </form>
            </center>

              
            </div>
          </div>
        </div>


{% endblock %}
