{% extends 'base/index.html' %}
{% load static %}
{% block content %}

{% for i in projects %}
<div align="center">
<div class="row" >
         <div class="col s4 offset-s4 valign">
           <div class="card">
             <div class="card-image">
               <img src={% static "assets/ey2.jpg" %}>
               <span class="card-title"><h2>{{i.title}}</h2></span>
             </div>
             <div class="card-content">
             <h5><b>Team Name :- </b>{{i.team_name}}</h5>
               <h5><b>Year :- </b>{{i.year}}</h5>
               <h5><b>Published :- </b>{{i.published}}</h5>
             </div>
             <div class="card-action">
               <a class ="modal-trigger" href="#{{i.id}}">Details</a>
         <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Modal</a> -->
             </div>
           </div>
         </div>
       </div>
       </div>

       <!-- Modal Trigger -->

         <!-- Modal Structure -->
         <div id="{{i.id}}" class="modal modal-fixed-footer">
           <div class="modal-content">
             <h4>Details</h4>
             <p>{{i.details}}</p>
           </div>
           <div class="modal-footer">
             <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">ok</a>
           </div>
         </div>

       {% endfor %}

{% endblock %}
