{% extends 'base/index.html' %}
{% load static %}
{% block content %}
<div align="center">
   <!--<img  src={% static "assets/logo.png" %} alt="LOGO" style="width:300px;height:172px;">-->
<div class="row" >
         <div class="col s6 offset-s3 valign">
           <div class="card">
             <div class="card-image">
               <img src={% static "assets/robo.jpg" %}>
               <span class="card-title"><h2>e-Yantra Robotics Competition</h2></span>
             </div>
             <div class="card-content">
               <h3>e-YRC</h3>
               <p>e-Yantra Robotics Competition (eYRC) is a unique annual competition for undergraduate students in science and colleges. Selected teams are given a robotic kit complete with accessories and video tutorials to help them learn basic concepts in embedded systems and microcontroller programming. Abstracts of real world problems assigned as "themes" are then implemented by the teams using the robotic kits. The winners of this competition will be eligible for summer internship at IITB through e-Yantra Summer Internship Program .</p>
             </div>
             <div class="card-action">
               <a href="#">More</a>
             </div>
           </div>
         </div>
       </div>
       </div>


{% endblock %}
