 {% load static %}
 <!DOCTYPE html>
  <html>
	<head><title>Base Page</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <!--Import Google Icon Font-->
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <!--Import materialize.css-->
	  <link type="text/css" rel="stylesheet" href= {% static "css/materialize.min.css" %}  media="screen,projection"/>

	  <!--Let browser know website is optimized for mobile-->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  
	<style>
      .modal {width: 30% !important; height: 60% !important;}
      html,
      body {
          height: 100%;
          margin: 0;
          padding: 0;
      }
      #main-wrapper {
          min-height: 100%;
          padding: 0 0 200px;
          position: relative;
      }
      footer {
          bottom: 0;
          height: 200px;
          left: 0;
          position: absolute;
          width: 100%;
      }
    </style>
    
    </head>
    <body background={% static "assets/bg.jpg" %}>

<div id="main-wrapper">
	<nav>
    	<div class="nav-wrapper">
    	  <a href="{% url 'base:index' %}" class="brand-logo"><img src={% static "assets/logo.png" %} alt="Logo" style="width:100px;height:64px;"></a>
    	  <ul id="nav-mobile" class="right hide-on-med-and-down">
    		<li><a class='dropdown-button' href='#' data-activates='dropdown1'>Inventory</a></li>
            <li><a class='dropdown-button' href='#' data-activates='dropdown2'>Projects</a></li>
    		<!-- <li><a class="waves-effect waves-light" href="team/">Team</a></li> -->
    		{% if user.is_authenticated %}
    		<li> <a class="waves-effect waves-light modal-trigger" href="{% url 'base:profile' %}">{{user.username}}</a></li>
    		<li> <a class="waves-effect waves-light modal-trigger" href="{% url 'access:logout' %}">Logout</a></li>
    		{% else %}
    		<li> <a class="waves-effect waves-light modal-trigger" href="#modal1">Log In</a></li>
    		<li><a class="waves-effect waves-light" href="{% url 'access:signup' %}">Sign Up</a></li>
    	  	{% endif %}
    	  </ul>
    	</div>
    </nav>

   <ul id='dropdown2' class='dropdown-content'>
      <li><a href="{% url 'projects:projects_index' %}">Projects</a></li>
      <li><a href="{% url 'projects:add' %}">Add</a></li>
    </ul>


    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="{% url 'inventory:inventory_index' %}">Inventory</a></li>
        <li><a href="{% url 'inventory:issue' %}">Issue</a></li>
        <li><a href="{% url 'inventory:requests' %}">Request</a></li>
        <li><a href="{% url 'inventory:update' %}">Update</a></li>
    </ul>

	<!-- Modal Structure -->
	<div id="modal1" class="modal">
	  <div class="modal-content">
	    <div class="row">
	       <form class="col s10 offset-s1 valign" method='post' action="{% url 'access:login' %}">
	       {% csrf_token %}
	       <center>
	         <h3>Log In</h3>
	       </center>
	           <div class="input-field col s12">
	             <i class="material-icons prefix">tag_faces</i>
	             <input type = 'text' name='username' placeholder='Username'><br><br>
	           </div>
	           <div class="input-field col s12">
	             <i class="material-icons prefix">border_color</i>
	             <input type='password' name='password' placeholder='Password'><br><br>
	            </div>
	            <center>
	            <!-- <input type='button' onclick="window.location.href='site/login/'"> -->
	            <button type='submit' class="btn waves-effect waves-light">Submit</button>
	              </center>
	       </form>
	     </div>
	   </div>
	</div>

    <div>
      	{% if msg %}
      	<center>{{msg}}</center>
      	{% endif %}
      	{% for i in error_details %}
      	<center>{{i}}</center>
      	{% endfor %}

    	{% block content %}
    	{% endblock %}
    </div>

	<footer class="page-footer">
			   <div class="container">
				 <div class="row">
				   <div class="col l6 s12">
					 <h5 class="white-text">Footer Content</h5>
					 <p class="grey-text text-lighten-4"></p>
				   </div>
				   <div class="col l4 offset-l2 s12">
					 <h5 class="white-text">Contact Us</h5>
					 <ul>
					   <li><a class="grey-text text-lighten-3" href="#!"></a>Facebook</li>
					   <li><a class="grey-text text-lighten-3" href="#!"></a>Twitter</li>
					   
					 </ul>
				   </div>
				 </div>
			   </div>
			   <div class="footer-copyright">
				 <div class="container">
				 © 2017 Copyright
				 <a class="grey-text text-lighten-4 right" href="#!">$</a>
				 </div>
			   </div>
	</footer>
</div>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src={% static "js/materialize.min.js" %} ></script>
	<script>
  $(document).ready(function(){
	  // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
	  $('.modal').modal();
	});
	
          $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrainWidth: false, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: false, // Displays dropdown below the button
        alignment: 'left', // Displays dropdown with edge aligned to the left of button
        stopPropagation: false // Stops event propagation
      }
    );
	</script>
	</body>
  </html>
