{% extends 'base/index.html' %}
{% load static %}
{% block content %}
    <div class="row">
          <div class="col s6 offset-s3 valign">
            <div class="card-panel grey lighten-4">
              <center>
                <form method = 'post'>
                    {% csrf_token %}
                    <h4>Update Info</h4>
                    <div class="input-field col s6">
                      <i class="material-icons prefix">person</i>
                      <input type = 'text' name='first_name' placeholder='First Name ({{user.first_name}})'><br><br>
                    </div>
                    <div class="input-field col s6">
                      <!-- <i class="material-icons prefix">tag_faces</i> -->
                      <input type = 'text' name='last_name' placeholder='Last Name ({{user.last_name}})'><br><br>
                    </div>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">contact_mail</i>
                      <!-- <input type = 'text' name='username' placeholder='Username'><br><br> -->
                      <input type='email' id='email' name='email' placeholder="Email ID ({{user.email}})"><br><br>
                    </div>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">tag_faces</i>
                      <input type = 'text' name='username' placeholder='Username ({{user.username}})'><br><br>
                    </div>
                    <center>
                    <a href="#"><button type="submit" class="btn waves-effect waves-light">Update</button>
                      </a></center>
                   
                </form>
            </center>

              
            </div>
          </div>
        </div>
        <center>
        <h3>Issue Applcations</h3>
            
        </center>
        {% for i in issues %}
        <div align="center">
        <div class="row" >
                 <div class="col s4 offset-s4 valign">
                   <div class="card"><br>
                   
                       <span class="card-title"><h5>Subject :- {{i.subject}} </h5></span>
                     <div class="card-content">
                         <div class="card-action">

                           <a class ="modal-trigger" href="#{{i.id}}">Application</a>
                     <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Modal</a> -->
                         </div>
                     <!-- Application:- {{i.application}}<br><br> -->
                     PUBLISHED DATE:- {{i.issued_on}} <br>
                     Approved? {% if i.passed %}
                     Yes
                     {% else %}
                     No
                     {% endif %}
                     <br>
                     </div>
                         
                   </div>
                 </div>
               </div>
               </div>

               <!-- Modal Structure -->
               <div id="{{i.id}}" class="modal modal-fixed-footer">
                 <div class="modal-content">
                   <h4>Application</h4>
                   <p>{{i.application}}</p>
                 </div>
                 <div class="modal-footer">
                   <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">ok</a>
                 </div>
               </div>

        {% endfor %}






{% endblock %}
