<html>
	<head>
		<title>
			LOGIN PAGE
		</title>
	</head>

	<body>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div>
			<center>
				<form method='post'>
					{% csrf_token %}
					Username:- <input type='text' id='username' name='username' placeholder='Username'> <br> <br>
					Password:- <input type='password' id='password' name='password' placeholder='Password'> <br><br>
					<button type='submit'> Submit </button>
				</form>
			</center>
		</div>
	</body>
</html>