{% extends 'base/index.html' %}
{% load static %}
{% block content %}

	<div class="row">
	      <div class="col s6 offset-s3 valign">
	        <div class="card-panel grey lighten-4">
	          <center>
	            <form method = 'post'>
	                {% csrf_token %}
	                <h3>Sign Up</h3>
	                <div class="input-field col s6">
	                  <i class="material-icons prefix">person</i>
	                  <input type = 'text' name='first_name' placeholder='First Name'><br><br>
	                </div>
	                <div class="input-field col s6">
	                  <!-- <i class="material-icons prefix">tag_faces</i> -->
	                  <input type = 'text' name='last_name' placeholder='Last Name'><br><br>
	                </div>
	                <div class="input-field col s12">
	                  <i class="material-icons prefix">contact_mail</i>
	                  <!-- <input type = 'text' name='username' placeholder='Username'><br><br> -->
	                  <input type='email' id='email' name='email' placeholder="Email ID"><br><br>
	                </div>
	                <div class="input-field col s12">
	                  <i class="material-icons prefix">format_list_numbered</i>
	                  <input type = 'text' name='year' placeholder='Year'><br><br>
	                </div>
	                <div class="input-field col s12">
	                  <i class="material-icons prefix">local_library</i>
	                  <input type = 'text' name='branch' placeholder='Branch'><br><br>
	                </div>
	                <div class="input-field col s12">
	                  <i class="material-icons prefix">tag_faces</i>
	                  <input type = 'text' name='username' placeholder='Username'><br><br>
	                </div>
	                <div class="input-field col s12">
	                  <i class="material-icons prefix">lock</i>
	                  <input type='password' name='password' placeholder='Password'><br><br>
	                 </div>
	                 <div class="input-field col s12">
	                   <i class="material-icons prefix">lock</i>
	                   <input type='password' name='pass2' placeholder='Retype Password'><br><br>
	                  </div>
	                <center>
	                <a href="#"><button type="submit" class="btn waves-effect waves-light">Submit</button>
	                  </a></center>
	               
	            </form>
	        </center>

	          
	        </div>
	      </div>
	    </div>



{% endblock %}
